/* Essential basic styles*/
body, html {
    background-color: #caff33;
    margin: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    font-family: "Ubuntu Mono";
    position: absolute;
    z-index: 1;
    scroll-behavior: smooth;
}

.home {
    h1 {
        font-size: 34px;
        color: #330703;
    }
    p {
        font-size: 20px;
        color: #000;
        text-align: inline;
    }
    margin: 0;
    background-color: #caff33;
    min-height: 100%;
    height: 3000px;
    background-size: cover;
    text-align: left;
    position: absolute;
    z-index: 1;
    padding: 0;
    scroll-behavior: smooth;
}
/*End of basic essentials*/

/* Language picker html */

.lang-container {
    margin: auto;
    text-align: center;
    margin-top: 60px;
    width: 420px;
    background-color: #1c1d22;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 50px;
    .hello {
        color: #f2eddf;
        font-size: 30px;
        text-align: center;
    }
    p {
        color: #f2eddf;
    }
    a {
        color: #f2eddf;
    }
}

/*too many styles later on*/

.h1_welcome {
    margin-top: 28px;
    text-align: center;
    text-decoration: underline overline;
    z-index: 1;
}


.h1_home {
    margin-top: 55px;
    margin-left: 80px;
    z-index:1;
}

.form_home {
    margin-top: 55px;
    margin-left: 80px;
    z-index:1;
}

/*text arii */
textarea {
  field-sizing: content;
}

/*.qrdata {
  display: inline-block;
  border: solid 1px #000;
  min-height: 200px;
  width: 300px;
}

.filename {
  display: inline-block;
  border: solid 1px #000;
  min-height: 200px;
  width: 100px;
}*/

.p_click {
    margin-top: -803px;
    margin-left: 485px;
    text-align: center;
}

.img_code1 {
    margin-top: 15px;
    margin-left: 660px;
    z-index:1;
}

.h1_code_example {
    position: absolute;
    top: 110px;
    left: 730px;
    z-index:1;
}

.default_qr_img {
    position: absolute;
    top: 178px;
    left: 730px;
    z-index:1;
}

.h1_about {
    text-align: center;
    margin-top: 510px;
    z-index:1
}

.p_about {
    margin-top: 34px;
    text-align: center;
    z-index:1;
}

.h1_contacts {
    margin-top: 580px;
    text-align: center;
    z-index:1;
}

.p_github {
    position: absolute;
    margin-top: 14px;
    margin-left: 490px;
    z-index:1;
}

.img_github {
    height:25%;
    width:25%;
}

.p_mailto {
    position: absolute;
    margin-top: 14px;
    margin-left: 660px;
    z-index:1;
}

.img_mailto {
    height:17%;
    width:17%;
}

.p_qr_icon {
    position: relative;
    top: -485px;
    left: 715px;
    z-index:1;
}

.img_qr_icon {
    height: 40%;
    width: 40%;
}
/*End of too many styles*/

/*All stuff connected with sidebar menu and
hamburger menu button*/
#sidebar ul li {
    display: list-item;
    list-style: none;
    color: #efe7df;
    font-size: 27px;
    font-weight: bold;
    padding: 18px 60px;
}

#sidebar a {
    color: #fff;
}

#sidebar {
    position: fixed;
    z-index: 2;
    width: 300px;
    left: -300px;
    height: 100%;
    transition: 0.6s;
    background-color: #1e2124;
}

a {
    height: 8.5px;
    width: 42px;
}

.container {
    cursor: pointer;
    height: 48.5px;
    width: 52.5px;
    z-index: 3;
    /*background-color: blue;*/
}

.container .bar1,
.container .bar2,
.container .bar3 {
    margin: 4px 6px;
    z-index: 3;
    width: 40px;
    height: 7.18px;
    background-color: #1e2124;
    transition: 0.85s;
    border-radius: 2px;
}

#sidebar .container {
    position: fixed;
    top: 17px;
    left: 21px;
}

.transform .bar1 {
    transform: translate(0, 12.3px) rotate(-45deg);
    background-color: #caff33;
}

.transform .bar2 {
    transform: translate(0,0.21px) rotate(45deg);
    background-color: #caff33;
}

.transform .bar3 {
    transform: translate(0, -13px) rotate(45deg);
    background-color: #caff33;
}

#sidebar.active {
    left: 0;
}
/*End of sidebar and hamburger stuff*/

/*Two main buttons*/
.genBtn {
    color: white;
    background-color: #1b71f2;
    padding: 5.5px 22.5px;
    font-family: monospace;
    font-size: 19.5px;
    margin: 15px 0px;
    cursor: pointer;
}

/* first dropdown menu settings */
/* Dropdown menu settings */
.dropBtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropBtn:hover, .dropBtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}
.show {display: block;}

/*End of the main buttons*/

/*Classes that should be changed when using the site on mobile*/
@media only screen and (max-width: 1000px) {
    .home {
        h1 {
            font-size: 28px;
        }
        p {
            font-size: 19px;
        }
    width: 100%;
    height: 1900px;
    }

    /*too many styles later on*/

    .h1_welcome {
        display: none;
    }

    .h1_home {
        margin-top: 55px;
        margin-left: 15px;
        padding: 10px;
        z-index:1;
    }

    .form_home {

        padding-top: 15px;
        margin-top: -30px;
        margin-left: 25px;
        z-index:1;
    }

    .p_click {
        margin-top: 20px;
        margin-left: 0px;
    }

    .img_code1 {
        margin-top: 0px;
        margin-left: 0px;
        width: 25%;
        height: 25%;
    }

    /*this is not in html cause there is called downloadBtn*/.a_code1_download {
        position: relative;
        top: 10px;
        left: 199px;
        z-index:1;
    }

    .h1_code_example {
        display: none;
    }

    .default_qr_img {
        display: none;
    }

    .h1_about {
        margin-top: 80px;
    }

    .p_about {
        margin-top: 0px;
    }

    .h1_contacts {
        margin-top: 90px;

    }

    .p_github {
        margin-top: 13px;
        margin-left: 70px;
    }

    .img_github {
        height: 30%;
        width: 30%;
    }

    .p_mailto {
        margin-top: 13px;
        margin-left: 210px;
    }

    .img_mailto {
        height: 41%;
        width: 41%;
    }

    .p_qr_icon {
        margin-top: 40px;
        margin-left: 0px;
    }

    .img_qr_icon {
        margin-top: 440px;
        margin-left: -630px;
        height: 40%;
        width: 40%;
    }

    /*All stuff connected with sidebar menu and
    hamburger menu button*/
    #sidebar ul li {
        display: block;
        margin-top: 50px;
        list-style: none;
        color: #efe7df;
        font-size: 23px;
        font-weight: bold;
        padding: 30px 15px;
    }

    #sidebar a {
        color: #fff;
    }

    #sidebar {
        position: fixed;
        z-index: 2;
        width: 160px;
        left: -160px;
        height: 1800px;
        transition: 0.6s;
        background-color: #1e2124;
    }

    a {
        height: 8.5px;
        width: 42px;
    }

    .container .bar1,
    .container .bar2,
    .container .bar3 {
        display: block;
        cursor: pointer;
        margin: 3.5px 6px;
        position: fixed;
        top: 13px;
        left: 19px;
        z-index: 3;
        width: 40px;
        height: 7.2px;
        background-color: #1e2124;
        transition: 0.85s;
        border-radius: 2px;
    }

    #sidebar.container {
        position: fixed;
        top: 17px;
        left: 21px;
    }

    .transform .bar1 {
        transform: translate(0, 12.3px) rotate(-45deg);
        background-color: #caff33;
    }

    .transform .bar2 {
        transform: translate(0,0.21px) rotate(45deg);
        background-color: #caff33;
    }

    .transform .bar3 {
        transform: translate(0, -13px) rotate(45deg);
        background-color: #caff33;
    }

    #sidebar.active {
        left: 0;
    }
    /*End of sidebar and hamburger stuff*/
