body, html {
    background-color: #fff;
    margin: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    font-family: "Ubuntu Mono";
    position: absolute;
    z-index: 1;
    scroll-behavior: smooth;
}

.home {
    h1 {
        font-size: 34px;
        color: #330703;
    }
    p {
        font-size: 20px;
        color: #000;
        text-align: inline;
    }
    margin: 0;
    background-color: #caff33;
    min-height: 100%;
    height: 3000px;
    background-size: cover;
    text-align: left;
    position: absolute;
    z-index: 1;
    padding: 0;
    scroll-behavior: smooth;
}

#sidebar ul li {
    list-style: none;
    color: #efe7df;
    font-size: 27px;
    font-weight: bold;
    padding: 20px 60px;
}

#sidebar a {
    color: #fff;
}

#sidebar {
    position: fixed;
    z-index: 2;
    width: 350px;
    left: -350px;
    height: 100%;
    transition: 0.6s;
    background-color: #1e2124;
}

#sidebar.active {
    left: 0;
}

a {
    height: 8.5px;
    width: 42px;
}

.container .bar1,
.container .bar2,
.container .bar3 {
    display: block;
    cursor: pointer;
    margin: 4px 6px;
    position: fixed;
    top: 14px;
    left: 19px;
    z-index: 3;
    width: 39px;
    height: 6.5px;
    background-color: #1e2124;
    transition: 0.85s;
}

#sidebar .container {
    position: absolute;
    top: 30px;
    left: 350px;
}

.transform .bar1 {
    transform: translate(0, 12.3px) rotate(-45deg);
    background-color: #caff33;
}

.transform .bar2 {
    transform: translate(0,0.21px) rotate(45deg);
    background-color: #caff33;
}

.transform .bar3 {
    transform: translate(0, -13px) rotate(45deg);
    background-color: #caff33;
}

#sidebar.active {
    left: 0;
}

.genBtn {
    border: 1;
    color: white;
    background-color: #1b71f2;
    padding: 5.5px 22.5px;
    text-weight: bold;
    display: inline-block;
    font-family: monospace;
    font-size: 19.5px;
    border-radius: 5.5px;
    margin: 15px 0px;
    cursor: pointer;
}

.downloadBtn {
    border: 1;
    color: white;
    background-color: #1bf251;
    padding: 5px 22px;
    text-decoration: none;
    text-weight: bold;
    display: inline-block;
    font-family: monospace;
    font-size: 16px;
    border-radius: 5.5px;
    margin: 0px 491px;
    cursor: pointer;
}
