body {

     margin: 0;
     font-family: system-ui;

     background-image: url("highway_at_night.jpg");

     .button {
     border: 1;
     color: white;
     padding: 12px 30px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 18px;
     margin: 40px 537px;
     cursor: pointer;

     .button1 {background-color:#EF1A2D;} /* Ferrari-Red */
    }