<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <title>Absolute QR machine</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    </head>

    <body>

        <div id="sidebar">
            <a class="container" onclick="Function1(this)">
                <div class="bar1" style="position: fixed; top: 20px; left: 21px;"></div>
                <div class="bar2" style="position: fixed; top: 33px; left: 21px;"></div>
                <div class="bar3" style="position: fixed; top: 46px; left: 21px;"></div>
            </a>

            <ul style="display: block;">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contacts">Contacts</a></li>
            </ul>

        </div>
            <script>
                function Function1(x) {
                    document.getElementById('sidebar').classList.toggle('active');
                    x.classList.toggle("transform");
                }
            </script>

        {% block body %}

        {% endblock %}

    </body>
</html>
