<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <title>Absolute QR machine</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    </head>

    <body>

        <!--<span class="EN">english</span>
        <span class="BY">беларуская</span>
        <input type="checkbox" class="check">-->

        <div class="topnav">
            <a class="active" href="#home">Home</a>
            <a href="#about">About</a>
            <a href="#contacts">Contact</a>
        </div>

        <div id="sidebar">
            <a class="container" onclick="Function1(this)">
                <div class="bar1" style="position: fixed; top: 17px; left: 19px;"></div>
                <div class="bar2" style="position: fixed; top: 30px; left: 19px;"></div>
                <div class="bar3" style="position: fixed; top: 43px; left: 19px;"></div>
            </a>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contacts">Contacts</a></li>
            </ul>
        </div>

        <!--<div class="dropdown">
                    <button onclick="myFunction1()" class="dropBtn">Dropdown</button>
                    <div id="myDropdown" class="dropdown-content">

                        <p><input type="submit" value="Submit">Submit</p>
                    </div>
                </div>-->


        <script src="{% static 'index.js' %}"></script>

        {% block body %}

        {% endblock %}

    </body>
</html>
