<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="IBM868">
    <title>Guide</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="guide guide_hs">
        <div class="guide_hs">
            <h1>The guide</h1>
        </div>
            <div class="guide_ps">
                <h3>Step 1: paste the data you want to code <br> into the field on the next page</h3>
                <h3>Step 2: click on "Generate" button <br> and enjoy the result</h3>
            </div>
                <a href="../start/">
                    <button class="guideBtn">Got it!</button>
                </a>
    </div>
</body>
</html>
