{% extends 'base.html' %}

{% block body %}

        <div style="position: static; scroll-behavior: smooth" class="home">
            <h1 class="h1_welcome">Вітаем у QR Machine!</h1>
            <h1 class="h1_home" id="home">Стварай QR код!</h1>
            <form class="form_home" action="../by/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <label for="qrdata">Упішыце дадзеныя для кода сюды:</label><br>
                    <!--<div id="qrdata" name="qrdata" contentEditable="true"></div>-->
                    <textarea rows="8" cols="39" type="text" id="qrdata"
                              name="qrdata" placeholder="Упішы тэкст/спасылку"></textarea><br>
                <label for="qrdata">Назву файла для кода сюды:</label><br>
                    <!--<div id="filename" name="filename" contentEditable="true"></div>-->
                    <input class="input_filename" type="text" id="filename"
                              name="filename" value="{{filename}}" placeholder="my_qrcode"><br>
                <!-- Poll file format -->
                <label for="fileFormat">Выберыце фармат файла для кода</label><br>
                <select id="fileFormat" name="fileFormat">
                    <option value="jpg">.jpg</option>
                    <option value="png">.png</option>
                    <option value="webp">.webp</option>
                </select><br>

                <!-- Poll error correction -->
                <label for="EC">Выберыце ўзровень карэкцыі памылак</label><br>
                <select id="EC" name="EC">
                    <option value="L">L (7%)</option>
                    <option value="M" selected>M (15%)</option>
                    <option value="Q">Q (25%)</option>
                    <option value="H">H (30%)</option>
                </select><br>

                <!-- Color Playground -->
                <label>Тут можаце пагуляць з колерамі кода (DEMO)</label><br>
                <label for="color">Выбярыце колер узору (чорны па змоўчанні)<br>
                    <select id="color" name="color">
                        <option value="black" selected>Чорны</option>
                        <option value="green">Зялёны</option>
                        <option value="light-blue">Блакітны</option>
                        <option value="orange">Аранжавы</option>
                        <option value="purple">Фіялетавы</option>
                        <option value="red">Чырвоны</option>
                        <option value="white">Белы</option>
                    </select><br>

                <!-- Background Color Playground -->
                    <label for="bg-color">Тут выберыце колер фону (белы па змоўчанні)</label><br>
                    <select id="bg-color" name="bg-color">
                        <option value="white" selected>Белы</option>
                        <option value="green">Зялёны</option>
                        <option value="light-blue">Блакітны</option>
                        <option value="orange">Аранжавы</option>
                        <option value="purple">Фіялетавы</option>
                        <option value="red">Чырвоны</option>
                        <option value="black">Чорны</option>
                    </select><br>

                <input type="submit" class="genBtn"
                       value="Generate" />
            </form>

            {% if huge_code_check %}

                <p class="p_click">згенераваны код за вялікі для гэтай старонкі, спамуйце яго, націснуўшы выяву</p>
                <p class="p_qr_icon"><a href="{{code1}}" download="{{name}}"><img
                        class="img_qr_icon" src="../static/media/qr_code_icon.png"></a></p>
            {% elif data_check %}
                <p class="p_click">спамуй код, націснуўшы на яго!</p>
                <p class="img_code1"><a href={{code1}} download="{{name}}"><img src="{{code1}}"></a></p>
                <!--<a href={{code1}} download="{{name}}" class="downloadBtn"
                        type="download">Download</a>-->
            {% else %}

                <h1 class="h1_code_example">Прыклад кода:</h1>
                <img class="default_qr_img" src="../static/codes/Hello.jpg">
            {% endif %}

            <h1 class="h1_about" id="about">Трошкі аб нашым праекце</h1>

            <p class="p_about">Галоўная мэта
                QR Machine - <br> гэта стварыць просты і зручны сайт<br> для генерацыі qr кодаў
                без назойлівай рэкламы<br> <br>=)</p>

            <img src="">

            <center><h1 class="h1_contacts" id="contacts">Можаце звязацца са мной</h1></center>

            <p class="p_github"><a href="https://github.com/moonahod/GeneratorQR" target="_blank">
                <img class="img_github" src="../static/media/github_for_link.png"></a></p>

            <p class="p_mailto"><a href="mailto:funfan733@gmail.com">
                <img class="img_mailto" src="../static/media/super_email_360x360.png"></a></p>

        </div>

{% endblock %}
