{% extends 'base.html' %}

{% block body %}

        <div style="position: static; scroll-behavior: smooth" class="home">
            <h1 id="home" style="position: absolute; top: 90px; left: 80px; z-index:1;">Create your QR Code!</h1>
            <form style="position: absolute; top: 185px;
                left: 80px; z-index:1;" action="/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <label for="qrdata">Put data you want to code here:</label><br>
                <textarea rows="15" cols="68" type="text" id="qrdata" name="qrdata" value="{{data}}">
                    </textarea><br>
                <label for="qrdata">Enter the name of the file to save your code in:</label><br>
                <textarea rows="1" cols="25" type="text" id="filename" name="filename" value="{{filename}}">
                    </textarea><br>

                <label for="poll">Choose file format for your code</label><br>

                <input type="radio" id="jpg" name="fileFormat" value=".jpg">
                <label for="jpg">.jpg</label><br>

                <input type="radio" id="png" name="fileFormat" value=".png">
                <label for="png">.png</label><br>

                <input type="radio" id="webp" name="fileFormat" value=".webp">
                <label for="webp">.webp</label><br>

                <input id="submit" type="submit" class="genBtn" value="Generate" />

                {% if data_check %}

                <img src="{{code1}}" alt="QQR code" style="position: absolute;
                    top: 0px; left: 683px; z-index:1;">
                <a href={{code1}} download="{{name}}" style="position: relative;
                    top: 10px; left: 280px; z-index:1;"
                class="downloadBtn" type="download">Download</a>

                {% else %}

                <h1 style="position: absolute; top: -100px; left: 679px; z-index:1;">Code example:</h1>
                <img src="../static/codes/Hello.jpg" style="position: absolute;
                    top: 0px; left: 680px; z-index:1;">

                {% endif %}

            </form>

            <h1 id="about" style="position: absolute;
                top: 730px; left: 406px; z-index:1;">Something about our project</h1>

            <p style="text-align: center; position: absolute; top: 825px; left: 390px; z-index:1;">The goal
                of the QR machine<br> is to provide you just a convenient easy-to-use<br> ad-free website
                to create qr codes<br> <br>=)</p>

            <img src="">

            <center><h1 id="contacts" style="position: absolute;
                top: 1520px; left: 455px; z-index:1;">You can contact me</h1></center>

            <p style="position: absolute; top: 1620px; left: 480px; z-index:1;"
                ><a href="https://github.com/moonahod/GeneratorQR" target="_blank">
                <img src="../static/media/github_for_link.png" style="height:25%; width:25%;"></a></p>

            <p style="position: absolute; top: 1620px; left: 660px; z-index:1;"
                ><a href="mailto:funfan733@gmail.com">
                <img src="../static/media/super_email.png" style="height:17%; width:17%;"></a></p>

        </div>

{% endblock %}
