{% extends 'base.html' %}

{% block body %}

    <div class="qrdata qrdata_hs">
        <h1>Start making your qrcode</h1>
        <form method="post" enctype="multipart/form-data" action="" onsubmit="return gencode">
            <label for="qrdata">Put data you want to code here:</label><br>
            <input type="text" id="qrdata" name="qrdata" value="Example input"><br>

            <label for="poll">Choose file format for your code</label><br>
            <input type="radio" id="jpg" name="fileFormat" value="jpg">
            <label for="jpg">.jpg</label><br>
            <input type="radio" id="png" name="fileFormat" value="png">
            <label for="png">.png</label><br>
        </form>
        <input id="submit" type="submit" class="genBtn" value="Generate" />
    </div>

{% endblock %}
