<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="qrdata">
        <h1>Start making your qrcode</h1>
        <form>
            <label for="qrdata">Paste Qr code data here:</label><br>
            <input type="text" id="qrdata" name="qrdata"><br>
        </form>

        <form>
            <label for="poll">What is your fav clothes brand?</label><br>
            <input type="radio" id="Adidas" name="fav_brand" value="Adidas">
            <label for="Adidas">Adidas</label><br>
            <input type="radio" id="Nike" name="fav_brand" value="Nike">
            <label for="Nike">Nike</label><br>
            <input type="radio" id="Asics" name="fav_brand" value="Asics">
            <label for="Asics">Asics</label>
        </form>
    </div>
</body>
</html>
